.BorderCountries p{
    font-size: 1.1em;
}

.BorderCountries .flex-container{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.BorderCountries .item{
    /* flex: 1; */
    /* flex-basis: 20%; */
    font-size: 0.9em;
    min-width: 95px;
    max-width: 95px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0;
}