#header{
    padding: 25px 15px;
    display: flex;
    border-radius: 0px;
}

#header div{
    display: inline;
}

#header-title{
    font-weight: 800;
    text-align: left;
    flex:1;
}

#theme-switch{
    font-size: 12px;
    width: 80px;
    text-align: right;
    cursor: pointer;
}