.MiniCountryContainer{
    padding-top: 0;
    text-align: left;
    margin-bottom: 40px;
}

.MiniCountryContainer .bottom{
    padding: 25px 30px;
}

.MiniCountryContainer h1{
    font-size: 1.5em;
}

@media (orientation: landscape){
    .MiniCountryContainer{
        max-width: 250px;
        margin-bottom: 20px;
    }
}